body,
div.main-container {
	background-color: #ffcb05;
	border: none;
}

h1 {
	border-bottom: 1px solid black;
	font-family: PocketMonk;
}

h1,
h3 {
	text-align: center;
}

@font-face {
	font-family: PocketMonk;
	src: url('../fonts/PocketMonk.otf') format('opentype');
}

.row {
	background-color: #eb6440;
	border: 1px solid black;
}

.input-box {
	margin-bottom: 15px;
}

.block-label {
	display: block;
}

.results {
	font-size: 22px;
	font-weight: bold;
	margin-left: 5px;
}

.row {
	margin: 10px 0;
}

.btn {
	background-color: #316ab2;
	margin: 3px 0;
}